@import url('https://fonts.googleapis.com/css2?family=Almarai&family=Play:wght@400;700&family=Raleway&display=swap');


.page {
    width: 100%;
    background-color: #0F1113;
    margin: 0;

}

.page_about {
    background: #121312;
}

.header {
    background: rgba(36, 43, 51, 0.9);
    transition: 1s;
    margin: 0;
    width: 100%;
    min-height: 33px;
    display: flex;
    justify-content: space-between;
    z-index: 5;
    position: absolute;
    position: fixed;
}

.header_about {
    background: rgba(12, 13, 12, 0.9);
}

@media screen and (min-width:768px) {
    .header {
        width: 100%;
        min-height: 57px;
    }
}

@media screen and (min-width:1024px) {
    .header {
        width: 100%;
        min-height: 66px;
    }
}

@media screen and (min-width:1280px) {
    .header {
        width: 100%;
        min-height: 52px;
    }
}

@media screen and (min-width:1920px) {
    .header {
        width: 100%;
        min-height: 112px;
    }
}

@media screen and (min-width:4000px) {
    .header {
        width: 100%;
        min-height: 163px;
    }
}

@media screen and (min-width:5000px) {
    .header {
        width: 100%;
        min-height: 215px;
    }
}


.logo_header {
    width: 62px;
    height: 11px;
    margin-left: 5px;
    align-self: center;
}

@media screen and (min-width:768px) {
    .logo_header {
        width: 107px;
        height: 18px;
        margin-left: 24px;
    }
}

@media screen and (min-width:1024px) {
    .logo_header {
        width: 139px;
        height: 23px;

        margin-left: 12px;
    }
}

@media screen and (min-width:1280px) {
    .logo_header {
        width: 166px;
        height: 28px;
        margin-left: 32px;
    }
}

@media screen and (min-width:1920px) {
    .logo_header {
        width: 233px;
        height: 41px;
        margin-left: 43px;
    }
}

@media screen and (min-width:3000px) {
    .logo_header {
        width: 301px;
        height: 74px;
        margin-left: 65px;
    }
}

@media screen and (min-width:4000px) {
    .logo_header {
        width: 315px;
        height: 90px;
    }
}

@media screen and (min-width:5000px) {
    .logo_header {
        width: 381px;
        height: 121px;
        margin-left: 84px;
    }
}

.header_lang {
    color: #F6F4F3;
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;

    align-self: center;
}

@media screen and (min-width:768px) {
    .header_lang {
        font-size: 23px;
        line-height: 15px;
        letter-spacing: 1.15px;
    }
}

@media screen and (min-width:1024px) {
    .header_lang {
        font-size: 20px;
        line-height: normal;
        letter-spacing: 1px;

    }
}

@media screen and (min-width:1280px) {
    .header_lang {
        font-size: 21px;
    }
}

@media screen and (min-width:1920px) {
    .header_lang {
        font-size: 30px;
        letter-spacing: 1.5px;
    }
}

@media screen and (min-width:3000px) {
    .header_lang {
        font-size: 41px;
        letter-spacing: 4.5px;
    }
}

@media screen and (min-width:4000px) {
    .header_lang {
        font-size: 45px;
        letter-spacing: 4.5px;
    }
}

@media screen and (min-width:5000px) {
    .header_lang {
        font-size: 55px;
        letter-spacing: 4.5px;
    }
}

.header_wrapper {
    display: flex;
    gap: 5px;
    align-self: center;
    margin-right: 15px;

    margin-right: 15px;
}

@media screen and (min-width:768px) {
    .header_wrapper {
        margin-right: 31px;

    }
}

@media screen and (min-width:1280px) {
    .header_wrapper {
        margin-right: 38px;
    }
}

@media screen and (min-width:1920px) {
    .header_wrapper {
        margin-right: 49px;
    }
}

@media screen and (min-width:3000px) {
    .header_wrapper {
        margin-right: 69px;
    }
}

@media screen and (min-width:4000px) {
    .header_wrapper {
        margin-right: 69px;

    }
}

@media screen and (min-width:5000px) {
    .header_wrapper {
        margin-right: 69px;

    }
}

.header_langs {
    width: 11px;
    height: 11px;
    align-self: center;
    background-image: url(../images/langs.svg);
    background-color: rgba(37, 44, 52, 0.7);
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    border: none;
    background-position: center;
    background-size: contain;
}

.header_langs:hover {
    cursor: pointer;
}

@media screen and (min-width:768px) {
    .header_langs {
        width: 22px;
        height: 22px;
    }
}

@media screen and (min-width:2560px) {
    .header_langs {
        width: 35px;
        height: 35px;
    }
}

.header_menu {
    width: 24px;
    height: 24px;
    align-self: center;
    background-image: url(../images/menu.svg);
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    border: none;
    background-size: contain;
    margin-left: 15px;
    display: block;

}

@media screen and (min-width:768px) {
    .header_menu {
        width: 45px;
        height: 45px;
        display: block;
    }
}

@media screen and (min-width:1024px) and (max-width:1120px) {
    .header_menu {
        display: block;
        width: 55px;
        height: 55px;
    }
}

@media screen and (min-width:1121px) and (max-width:1920px) {
    .header_menu {
        display: none;
    }
}

@media screen and (min-width:1920px) {
    .header_menu {
        display: none;
    }
}

.header__nav {
    display: none;
}

@media screen and (min-width:768px) and (max-width:1120px) {
    .header__nav {
        display: none;
    }
}

@media screen and (min-width:1121px) and (max-width:1750px) {
    .header__nav {
        display: flex;
        max-width: 922px;
        min-height: 38px;
        gap: 20px;
        color: rgba(249, 249, 249, 0.81);
        font-family: 'Raleway', sans-serif;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: 28.8px;
        align-items: center;
        margin-right: 30px;
    }
}

@media screen and (min-width:1751px) and (max-width:1920px) {
    .header__nav {
        display: flex;
        max-width: 922px;
        min-height: 38px;
        gap: 25px;
        color: rgba(249, 249, 249, 0.81);
        font-family: 'Raleway', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 28.8px;
        align-items: center;
        margin-right: 40px;
    }
}

@media screen and (min-width:1920px) {
    .header__nav {
        display: flex;
        max-width: 922px;
        min-height: 38px;
        gap: 25px;
        color: rgba(249, 249, 249, 0.81);
        font-family: 'Raleway', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 28.8px;
        align-items: center;
        margin-right: 40px;
    }
}

@media screen and (min-width:2560px) {
    .header__nav {
        max-width: 1139px;
        min-height: 58px;
        gap: 48px;
        color: rgba(249, 249, 249, 0.81);
        font-family: 'Raleway', sans-serif;
        font-size: 38px;
        font-style: normal;
        font-weight: 400;
        line-height: 28.8px;
        align-items: center;
        margin-right: 64px;
    }
}







.nav_text {
    text-decoration: none;
    color: rgba(249, 249, 249, 0.81);
    border: none;
    padding: 0;
    background: none;
}

.nav_text:hover {
    cursor: pointer;
}


@media screen and (min-width:1280px) {
    .nav_text {
        color: rgba(249, 249, 249, 0.81);
        font-family: 'Raleway', sans-serif;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: 14.8px;
        align-items: center;
    }
}

@media screen and (min-width:1920px) {
    .nav_text {
        color: rgba(249, 249, 249, 0.81);
        font-family: 'Raleway', sans-serif;
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: 25.8px;
        align-items: center;
    }
}

@media screen and (min-width:2560px) {
    .nav_text {
        color: rgba(249, 249, 249, 0.81);
        font-family: 'Raleway', sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 28.8px;
        align-items: center;
    }
}


.lead {
    background-image: url(../images/first.png);
    background: linear-gradient(178deg, #242B33 14.74%, rgba(45, 52, 60, 0.38) 51.02%, #252C34 89.35%)/ cover no-repeat;
    min-height: 259px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    object-fit: cover;

}

@media screen and (min-width:468px) and (max-width:719px) {
    .lead {
        min-height: 326px;
    }
}

@media screen and (min-width:720px) and (max-width:1021px) {
    .lead {
        min-height: 406px;
    }
}

@media screen and (min-width:1022px) and (max-width:1280px) {
    .lead {
        min-height: 581px;
    }
}

@media screen and (min-width:1281px) and (max-width:1700px) {
    .lead {
        min-height: 619px;
    }
}

@media screen and (min-width:1701px) and (max-width:1920px) {
    .lead {
        min-height: 800px;
    }
}

@media screen and (min-width:1920px) {
    .lead {
        min-height: 1111px;
    }
}

@media screen and (min-width:3000px) {
    .lead {
        min-height: 1365px;
    }
}

@media screen and (min-width:4000px) {
    .lead {
        min-height: 1897px;
    }
}


.lead_text {
    margin: 0;
    width: 219px;
    z-index: 3;
    color: rgba(240, 240, 240, 1);
    text-align: center;
    font-family: Almarai, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0.65px;
    margin-left: auto;
    margin-right: auto;
    /* padding-top: 40px; */
}



@media screen and (min-width: 720px) and (max-width: 1023px) {
    .lead_text {
        font-size: 18px;
        line-height: 22px;
        width: 325px;
    }
}

@media screen and (min-width:1024px) {
    .lead_text {
        font-size: 29px;
        letter-spacing: 1.45px;
        line-height: 29px;
        width: 446px;
    }
}

@media screen and (min-width:1280px) {
    .lead_text {
        font-size: 32px;
        letter-spacing: 1.6px;
        width: 522px;
    }
}

@media screen and (min-width:1920px) {
    .lead_text {
        font-size: 61px;
        letter-spacing: 2.4px;
        line-height: 70px;
        width: 826px;
    }
}

@media screen and (min-width:3000px) {
    .lead_text {
        font-size: 48px;
        letter-spacing: 2.4px;
        line-height: 54px;
        width: 826px;
    }
}

@media screen and (min-width:4000px) {
    .lead_text {
        font-size: 70px;
        letter-spacing: 4.4px;
        line-height: 104px;
        width: 1180px;
    }
}


.lead_wrapper {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 83px;
    flex-direction: column;
    justify-content: space-evenly;
}


@media screen and (min-width: 468px) and (max-width: 719px) {
    .lead_wrapper {
        padding-top: 100px;
    }
}

@media screen and (min-width:720px) {
    .lead_wrapper {
        padding-top: 159px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1021px) {
    .lead_wrapper {
        padding-top: 142px;
    }
}

@media screen and (min-width:1022px) and (max-width:1280px) {
    .lead_wrapper {
        padding-top: 163px;
    }
}

@media screen and (min-width:1281px) and (max-width:1700px) {
    .lead_wrapper {
        height: 619px;
    }
}

@media screen and (min-width:1701px) and (max-width:1920px) {
    .lead_wrapper {
        padding-top: 285px;
        width: 710px;
    }
}

@media screen and (min-width:1920px) {
    .lead_wrapper {
        padding-top: 329px;
        width: 833px;
    }
}

@media screen and (min-width:3000px) {
    .lead_wrapper {
        padding-top: 461px;
        width: 1254px;
    }
}

@media screen and (min-width:4000px) {
    .lead_wrapper {
        padding-top: 688px;
        width: 1182px;
    }
}

.lead__icon_map {
    width: 7px;
    height: 6px;
}

@media screen and (min-width:768px) {
    .lead__icon_map {
        width: 11px;
        height: 10px;
    }
}

@media screen and (min-width:1920px) {
    .lead__icon_map {
        width: 21px;
        height: 21px;
    }
}

@media screen and (min-width:3000px) {
    .lead__icon_map {
        width: 27px;
        height: 27px;
    }
}

.lead_icon-phone {
    width: 6px;
    height: 5px;
}

@media screen and (min-width:768px) {
    .lead_icon-phone {
        width: 8px;
        height: 8px;
    }
}


@media screen and (min-width:1280px) {
    .lead_icon-phone {
        width: 9px;
        height: 9px;
    }
}

@media screen and (min-width:1920px) {
    .lead_icon-phone {
        width: 21px;
        height: 21px;
    }
}

@media screen and (min-width:3000px) {
    .lead_icon-phone {
        width: 27px;
        height: 27px;
    }
}


.call {
    width: 67px;
    height: 5px;
    display: flex;
    gap: 3px;
}

@media screen and (min-width:768px) {
    .call {
        width: 81px;
    }
}

@media screen and (min-width:1024px) {
    .call {
        gap: 8px;
        width: 99px;
    }
}

@media screen and (min-width:1920px) {
    .call {
        gap: 20px;
        width: 179px;
    }
}

@media screen and (min-width:3000px) {
    .call {
        gap: 20px;
        width: 213px;
    }
}

@media screen and (min-width:4000px) {
    .call {
        gap: 52px;
        width: 279px;
    }
}

.address {
    width: 83px;
    height: 6px;
    display: flex;
    gap: 3px;

}

@media screen and (min-width:1024px) {
    .address {
        gap: 8px;
        width: 98px;
    }
}

@media screen and (min-width:1280px) {
    .address {
        gap: 8px;
        width: 103px;
    }
}

@media screen and (min-width:1920px) {
    .address {
        gap: 20px;
        width: 204px;
    }
}

@media screen and (min-width:3000px) {
    .address {
        gap: 20px;
        width: 235px;
    }
}

@media screen and (min-width:4000px) {
    .address {
        gap: 52px;
        width: 328px;
    }
}

.support {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 106px;
    height: 6px;
    width: 111px;
    align-items: flex-end;
    justify-content: space-around;
    gap: 10px;

}

@media screen and (min-width:468px) and (max-width:767px) {
    .support {
        margin-top: 125px;
        height: 7px;
    }
}

@media screen and (min-width:768px) {
    .support {
        width: 189px;
        gap: 26px;
        margin-top: 121px;
        height: 6px;
    }
}

@media screen and (min-width:1024px) {
    .support {
        width: 205px;
        gap: 17px;
        margin-top: 217px;
        height: 6px;
    }
}

@media screen and (min-width:1280px) {
    .support {
        margin-top: 154px;
        width: 227px;
        gap: 27px;
        height: 6px;
    }
}

@media screen and (min-width:1701px) and (max-width:1920px) {
    .support {
        margin-top: 325px;
        width: 295px;
        height: 6px;
    }
}

@media screen and (min-width:1920px) {
    .support {
        margin-top: 478px;
        width: 390px;
        gap: 31px;
        height: 6px;
    }
}

@media screen and (min-width:3000px) {
    .support {
        margin-top: 579px;
        width: 525px;
        gap: 31px;
        height: 6px;
    }
}

@media screen and (min-width:4000px) {
    .support {
        margin-top: 718px;
        width: 695px;
        height: 6px;
        gap: 88px;
    }
}

.lead_address {
    margin: 0;
    color: #F0F0F0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 6px;
    font-style: normal;
    font-weight: 400;
    line-height: 5px;
}

@media screen and (min-width:768px) {
    .lead_address {
        line-height: normal;
        font-size: 9px;
    }
}

@media screen and (min-width:1280px) {
    .lead_address {
        font-size: 11px;
        line-height: 9px;
    }
}

@media screen and (min-width:1920px) {
    .lead_address {
        font-size: 20px;
        line-height: 15px;
    }
}

@media screen and (min-width:3000px) {
    .lead_address {
        font-size: 25px;
        line-height: 20px;
    }
}

@media screen and (min-width:4000px) {
    .lead_address {
        font-size: 32px;
        line-height: 20px;
    }
}

.lead_number {
    margin: 0;
    color: #F0F0F0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 6px;
    font-style: normal;
    font-weight: 400;
    line-height: 5px;
}

@media screen and (min-width:768px) {
    .lead_number {
        line-height: 8px;
        font-size: 9px;
    }
}

@media screen and (min-width:1280px) {
    .lead_number {
        font-size: 11px;
    }
}

@media screen and (min-width:1920px) {
    .lead_number {
        font-size: 20px;
        line-height: 19px;
    }
}

@media screen and (min-width:3000px) {
    .lead_number {
        font-size: 25px;
        line-height: 22px;
    }
}

@media screen and (min-width:4000px) {
    .lead_number {
        font-size: 32px;
        line-height: 22px;
    }
}

.about {
    background-image: url(../images/about1280.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 240px;
    display: flex;
    object-fit: cover;
}

@media screen and (min-width:468px) and (max-width:767px) {
    .about {
        min-height: 290px;
    }
}

@media screen and (min-width:768px) and (max-width:1022px) {
    .about {
        min-height: 408px;
    }
}

@media screen and (min-width:1022px) and (max-width:1280px) {
    .about {
        min-height: 581px;
    }
}

@media screen and (min-width:1281px) and (max-width:1700px) {
    .about {
        min-height: 829px;
    }
}

@media screen and (min-width:1700px) and (max-width:1920px) {
    .about {
        min-height: 800px;

    }
}

@media screen and (min-width:1920px) {
    .about {
        min-height: 1283px;
    }
}

.about_with_text {
    /* margin-top: 12px; */
    margin-left: 9px;
    align-self: center;
    width: 54%;
    align-items: center;
    min-height: 170px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (min-width:468px) and (max-width:720px) {
    .about_with_text {
        min-height: 228px;
        gap: 20px;
    }
}

@media screen and (min-width:720px) and (max-width:1023px) {
    .about_with_text {
        min-height: 310px;
        margin-left: 22px;
        gap: 25px;
    }
}

@media screen and (min-width:1024px) and (max-width:1280px) {
    .about_with_text {
        min-height: 455px;
        gap: 30px;
    }
}

@media screen and (min-width:1280px) {
    .about_with_text {
        margin-left: 24px;
        min-height: 494px;
        gap: 38px;
    }
}

@media screen and (min-width:1920px) {
    .about_with_text {
        margin-left: 59px;
        min-height: 615px;
        gap: 65px;
    }
}

.about_title {
    color: #F4EFEF;
    /* font-family: 'Alegreya',  sans-serif; */
    font-size: 9px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
    min-height: 22px;
    margin: 0;
}

@media screen and (min-width:468px) and (max-width:719px) {
    .about_title {
        min-height: 33px;
        font-size: 13px;
    }
}

@media screen and (min-width:720px) and (max-width:1023px) {
    .about_title {
        min-height: 41px;
        font-size: 17px;
    }
}

@media screen and (min-width:1024px) {
    .about_title {
        min-height: 46px;
        font-size: 23px;
    }
}

@media screen and (min-width:1280px) {
    .about_title {
        min-height: 112px;
        font-size: 37px;
    }
}

@media screen and (min-width:1920px) {
    .about_title {
        min-height: 159px;
        font-size: 55px;
    }
}

@media screen and (min-width:2300px) {
    .about_title {
        min-height: 159px;
        font-size: 62px;
    }
}

.about_text-first {
    color: #F4EFEF;
    /* font-family: 'Alegreya', sans-serif; */
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    min-height: 46px;
    margin: 0;
}

@media screen and (min-width:468px) and (max-width:719px) {
    .about_text-first {
        min-height: 61px;
        font-size: 13px;
    }
}

@media screen and (min-width:720px) and (max-width:1023px) {
    .about_text-first {
        min-height: 117px;
        font-size: 20px;
    }
}

@media screen and (min-width:1024px) {
    .about_text-first {
        min-height: 149px;
        font-size: 24px;
        line-height: 29.4px;
    }
}

@media screen and (min-width:1280px) {
    .about_text-first {
        min-height: 171px;
        font-size: 37px;
        line-height: 35.4px;
    }
}

@media screen and (min-width:1920px) {
    .about_text-first {
        min-height: 158px;
        font-size: 43px;
        line-height: 50.4px;
    }
}

@media screen and (min-width:2300px) {
    .about_text-first {
        min-height: 159px;
        font-size: 53px;
        line-height: 55.4px;
    }
}

.about_text-second {
    color: #F4EFEF;
    /* font-family: 'Alegreya'; */
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    min-height: 70px;
    margin: 0;
}

@media screen and (min-width:468px) and (max-width:719px) {
    .about_text-second {
        min-height: 94px;
        font-size: 13px;
    }
}

@media screen and (min-width:720px) and (max-width:1023px) {
    .about_text-second {
        min-height: 109px;
        font-size: 20px;
    }
}

@media screen and (min-width:1024px) {
    .about_text-second {
        min-height: 193px;
        font-size: 24px;
    }
}

@media screen and (min-width:1280px) {
    .about_text-second {
        min-height: 190px;
        font-size: 37px;
    }
}

@media screen and (min-width:1920px) {
    .about_text-second {
        min-height: 286px;
        font-size: 43px;
    }
}

@media screen and (min-width:2300px) {
    .about_text-second {
        min-height: 159px;
        font-size: 53px;
        line-height: 55.4px;
    }
}

.about_with_square {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 41px;
    width: 40%;
    min-height: 106px;
    margin-bottom: 0;
    justify-content: center;
}

@media screen and (min-width:468px) and (max-width:719px) {
    .about_with_square {
        min-height: 200px;
    }
}

@media screen and (min-width:720px) {
    .about_with_square {
        min-height: 304px;
        margin-top: 96px;
    }
}

@media screen and (min-width:1024px) {
    .about_with_square {
        min-height: 344px;
        margin-top: 135px;
    }
}

@media screen and (min-width:1280px) {
    .aabout_with_square {
        min-height: 544px;
    }
}

@media screen and (min-width:1920px) {
    .about_with_square {
        min-height: 691px;
        margin-top: 335px;
    }
}

@media screen and (min-width:2300px) {
    .about_with_square {
        min-height: 691px;
        margin-top: 282px;
    }
}

.server_hardware {
    color: #FFF;
    text-align: center;
    font-family: 'Play';
    font-size: 7px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    border-radius: 11px;
    background: rgba(111, 116, 129, 0.73);
    box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.63);
    padding-bottom: 12px;
    padding-top: 12px;
    padding-right: 10px;
    padding-left: 10px;
    max-width: 45px;
    min-height: 15px;
    margin-top: 18px;
    /* margin-left: 12px; */
    margin-right: 0;
    margin-bottom: 0;
}

@media screen and (min-width:468px) and (max-width:720px) {
    .server_hardware {
        border-radius: 17px;
        font-size: 13px;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 6px;
        padding-right: 6px;
        max-width: 95px;
        min-height: 22px;
        /* margin-top: 6px; */
        /* margin-left: 6px; */
    }
}

@media screen and (min-width:720px) and (max-width:1023px) {
    .server_hardware {
        font-size: 15px;
        padding-top: 21px;
        padding-bottom: 21px;
        padding-left: 3px;
        padding-right: 3px;
        max-width: 118px;
        min-height: 22px;
        /* margin-top: 6px; */
        margin-left: 6px;
    }
}

@media screen and (min-width:1024px) and (max-width:1280px) {
    .server_hardware {
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 9px;
        padding-right: 9px;
        max-width: 144px;
        min-height: 14px;
        margin-top: 46px;
        margin-left: 6px;
    }
}

@media screen and (min-width:1280px) {
    .server_hardware {
        font-size: 25px;
        padding-top: 37px;
        padding-bottom: 37px;
        padding-left: 31px;
        padding-right: 31px;
        max-width: 179px;
        min-height: 58px;
    }
}

@media screen and (min-width:1920px) {
    .server_hardware {
        font-size: 30px;
        padding-top: 62px;
        padding-bottom: 65px;
        padding-left: 35px;
        padding-right: 35px;
        max-width: 219px;
        min-height: 70px;
        /* margin-left: 120px; */
        margin-top: 76px;
        border-radius: 27px;
    }
}

@media screen and (min-width:2560px) {
    .server_hardware {
        font-size: 41px;
        padding-top: 46px;
        padding-bottom: 46px;
        padding-left: 30px;
        padding-right: 30px;
        max-width: 292px;
        min-height: 14px;
        margin-top: 59px;
        margin-left: 35px;
        border-radius: 27px;
    }
}

.data_storage_systems {
    color: #FFF;
    text-align: center;
    font-family: 'Play';
    font-size: 7px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    border-radius: 11px;
    background: rgba(46, 47, 61, 0.78);
    box-shadow: 6px 5px 9px 0px rgba(0, 0, 0, 0.63);

    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 11px;
    padding-right: 11px;
    max-width: 36px;
    min-height: 21px;

    margin-left: 11px;
    margin-top: 14px;
    margin-right: 0;
    margin-bottom: 0;
}

@media screen and (min-width:468px) and (max-width:720px) {
    .data_storage_systems {
        border-radius: 17px;
        font-size: 13px;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 6px;
        padding-right: 6px;
        max-width: 73px;
        min-height: 22px;
        /* margin-top: 6px; */
        margin-left: 6px;
    }
}

@media screen and (min-width:720px) and (max-width:1024px) {
    .data_storage_systems {
        font-size: 16px;
        padding-top: 35px;
        padding-bottom: 35px;
        padding-left: 17px;
        padding-right: 17px;
        max-width: 82px;
        min-height: 14px;
        margin-top: 17px;
        margin-left: 5px;
    }
}

@media screen and (min-width:1024px) and (max-width:1280px) {
    .data_storage_systems {
        font-size: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 15px;
        padding-right: 15px;
        max-width: 98px;
        min-height: 14px;
        margin-top: 31px;
        margin-left: 20px;
    }
}


@media screen and (min-width:1280px) {
    .data_storage_systems {
        font-size: 25px;
        padding-top: 91px;
        padding-bottom: 91px;
        padding-left: 39px;
        padding-right: 39px;
        max-width: 125px;
        min-height: 85px;
        margin-top: 31px;
    }
}

@media screen and (min-width:1920px) {
    .data_storage_systems {
        font-size: 30px;
        padding-top: 110px;
        padding-bottom: 110px;
        padding-left: 50px;
        padding-right: 50px;
        max-width: 167px;
        min-height: 109px;
        margin-top: 47px;
        border-radius: 27px;
        /* margin-left: 0; */
    }
}

@media screen and (min-width:2560px) {
    .data_storage_systems {
        font-size: 41px;
        padding-top: 108px;
        padding-bottom: 108px;
        padding-left: 20px;
        padding-right: 20px;
        max-width: 252px;
        min-height: 14px;
        margin-top: 59px;
        margin-left: 60px;
        border-radius: 27px;
    }
}

.interactive_panels {
    color: #FFF;
    text-align: center;
    font-family: 'Play';
    font-size: 7px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    border-radius: 11px;
    background: rgba(68, 77, 101, 0.73);
    box-shadow: 6px 5px 9px 0px rgba(0, 0, 0, 0.63);

    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 2px;
    padding-right: 2px;

    max-width: 59px;
    min-height: 14px;
    margin-top: 0;
    margin-left: 6px;
    margin-bottom: 0;
    margin-right: auto;
}

@media screen and (min-width:468px) and (max-width:720px) {
    .interactive_panels {
        border-radius: 17px;
        font-size: 13px;
        padding-top: 45px;
        padding-bottom: 36px;
        padding-left: 3px;
        padding-right: 3px;
        max-width: 102px;
        min-height: 22px;
        /* margin-top: 6px; */
        margin-left: 6px;
    }
}

@media screen and (min-width:720px) and (max-width:1023px) {
    .interactive_panels {
        font-size: 15px;
        padding-top: 48px;
        padding-bottom: 57px;
        padding-left: 0px;
        padding-right: 0px;
        max-width: 125px;
        min-height: 22px;
        /* margin-top: 6px; */
        margin-left: 6px;
    }
}

@media screen and (min-width:1024px) and (max-width:1280px) {
    .interactive_panels {
        font-size: 20px;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 3px;
        padding-right: 3px;
        max-width: 159px;
        min-height: 14px;
        margin-top: 6px;
        margin-left: 22px;
        /* border-radius: 27px */
    }
}

@media screen and (min-width:1280px) {
    .interactive_panels {
        font-size: 25px;
        padding-top: 64px;
        padding-bottom: 64px;
        padding-left: 5px;
        padding-right: 5px;
        max-width: 206px;
        min-height: 14px;
        margin-top: 0;
        margin-left: 33px;
    }
}

@media screen and (min-width:1920px) {
    .interactive_panels {
        font-size: 30px;
        padding-top: 102px;
        padding-bottom: 102px;
        padding-left: 0px;
        padding-right: 0px;
        max-width: 270px;
        min-height: 14px;
        /* margin-top: 6px; */
        margin-left: 33px;
        border-radius: 27px;
    }
}

@media screen and (min-width:2560px) {
    .interactive_panels {
        font-size: 41px;
        padding-top: 113px;
        padding-bottom: 117px;
        padding-left: 13px;
        padding-right: 13px;
        max-width: 329px;
        min-height: 14px;
        margin-top: 59px;
        margin-left: 35px;
        border-radius: 27px;
    }
}

.network_equipment {
    color: #FFF;
    text-align: center;
    font-family: 'Play', sans-serif;
    font-size: 7px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    border-radius: 11px;
    background: rgba(92, 77, 110, 0.73);
    box-shadow: 6px 5px 9px rgba(0, 0, 0, 0.63);

    padding-top: 11px;
    padding-bottom: 14px;
    padding-left: 5px;
    padding-right: 5px;

    max-width: 53px;
    min-height: 14px;
    margin-top: 6px;
    margin-left: 6px;
}

@media screen and (min-width:468px) and (max-width:720px) {
    .network_equipment {
        font-size: 13px;
        padding-top: 15px;
        padding-bottom: 19px;
        padding-left: 5px;
        padding-right: 5px;
        max-width: 94px;
        min-height: 14px;
        margin-top: 6px;
        margin-left: 6px;
        border-radius: 17px;

    }
}

@media screen and (min-width:720px) and (max-width:1023px) {
    .network_equipment {
        font-size: 15px;
        padding-top: 22px;
        padding-bottom: 22px;
        padding-left: 9px;
        padding-right: 9px;
        max-width: 110px;
        min-height: 40px;
        margin-top: 19px;
        margin-left: 6px;
    }
}

@media screen and (min-width:1024px) and (max-width:1280px) {
    .network_equipment {
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 21px;
        padding-left: 11px;
        padding-right: 11px;
        max-width: 148px;
        min-height: 14px;
        margin-top: 25px;
        margin-left: 6px;
    }
}

@media screen and (min-width:1280px) {
    .network_equipment {
        font-size: 25px;
        padding-top: 30px;
        padding-bottom: 31px;
        padding-left: 5px;
        padding-right: 5px;
        max-width: 185px;
        min-height: 14px;
        margin-top: 27px;
        margin-left: 6px;
    }
}

@media screen and (min-width:1920px) {
    .network_equipment {
        font-size: 30px;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 20px;
        padding-right: 20px;
        max-width: 244px;
        min-height: 14px;
        margin-top: 59px;
        margin-left: 35px;
        border-radius: 27px;
    }
}

@media screen and (min-width:2560px) {
    .network_equipment {
        font-size: 41px;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 26px;
        padding-right: 26px;
        max-width: 292px;
        min-height: 14px;
        margin-top: 59px;
        margin-left: 35px;
        border-radius: 27px;
    }
}

.more {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    max-width: 196px;
    min-height: 188px;
    padding-bottom: 26px;
}

@media screen and (min-width:468px) and (max-width:768px) {
    .more {
        flex-direction: row;
        margin-top: 81px;
        max-width: 435px;
        min-height: 135px;
        padding-bottom: 69px;
    }
}

@media screen and (min-width:768px) {
    .more {
        flex-direction: row;
        margin-top: 95px;
        max-width: 666px;
        min-height: 160px;
        padding-bottom: 84px;
    }
}

@media screen and (min-width:1024px) {
    .more {
        margin-top: 104px;
        max-width: 826px;
        min-height: 242px;
        padding-bottom: 132px;
    }
}

@media screen and (min-width:1280px) {
    .more {
        margin-top: 146px;
        max-width: 1135px;
        min-height: 354px;
        padding-bottom: 132px;
    }
}

@media screen and (min-width:1920px) {
    .more {
        margin-top: 194px;
        max-width: 1470px;
        min-height: 534px;
        padding-bottom: 162px;
    }
}

@media screen and (min-width:2560px) {
    .more {
        margin-top: 241px;
        max-width: 1780px;
        min-height: 594px;
        padding-bottom: 162px;
    }
}

.box {
    display: flex;
    flex-direction: row;
    max-width: 196px;
    min-height: 47px;
    background: rgba(50, 57, 65, 0.69);
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: .8s;
    position: relative;
    justify-content: space-around;
}

.box:hover {
    transform: scale(1.1);
    box-shadow: 1px #141422;
    background: rgba(77, 84, 92, 1);
    box-shadow: 2px 6px 11px 3px rgba(0, 0, 0, 0.6);
    z-index: 3;
}

@media screen and (min-width:468px) and (max-width:768px) {
    .box {
        max-width: 333px;
        min-height: 72px;
        gap: 15px;
    }
}

@media screen and (min-width:768px) {
    .box {
        max-width: 333px;
        min-height: 80px;
    }
}

@media screen and (min-width:1024px) {
    .box {
        max-width: 413px;
        min-height: 121px;
        gap: 28px;
    }
}

@media screen and (min-width:1280px) {
    .box {
        max-width: 584px;
        min-height: 177px;
        gap: 0;
    }
}

@media screen and (min-width:1920px) {
    .box {
        max-width: 735px;
        min-height: 267px;
        gap: 0;
    }
}

@media screen and (min-width:2560px) {
    .box {
        max-width: 910px;
        min-height: 294px;
    }
}


@media screen and (min-width:768px) {
    .more__container-first {
        width: 50%;
    }
}

@media screen and (min-width:768px) {
    .more__container-second {
        width: 50%;
    }
}


.box_wrapper {
    display: flex;
    flex-direction: column;
    max-width: 143px;
    min-height: 31px;
    gap: 10px;
}

@media screen and (min-width:468px) and (max-width:768px) {
    .box_wrapper {
        max-width: 160px;
        min-height: 54px;
        gap: 15px;
        margin: 0;
    }
}

@media screen and (min-width:768px) {
    .box_wrapper {
        max-width: 224px;
        min-height: 55px;
        gap: 15px;
        margin: 0;
    }
}

@media screen and (min-width:1024px) {
    .box_wrapper {
        max-width: 288px;
        min-height: 85px;
        gap: 15px;
    }
}

@media screen and (min-width:1280px) {
    .box_wrapper {
        max-width: 407px;
        min-height: 93px;
        gap: 35px;
    }
}

@media screen and (min-width:1920px) {
    .box_wrapper {
        max-width: 505px;
        min-height: 93px;
        gap: 35px;
    }
}

@media screen and (min-width:2560px) {
    .box_wrapper {
        max-width: 569px;
        min-height: 93px;
        gap: 35px;
    }
}

@media screen and (min-width:1024px) {
    .box_wrapper-server {
        gap: 33px;
    }
}

@media screen and (min-width:1024px) {
    .box_wrapper-server {
        gap: 38px;
    }
}

.box_img {
    width: 34px;
    height: 34px;
}

@media screen and (min-width:468px) and (max-width:768px) {
    .box_img {
        width: 40px;
        height: 40px;
        margin-left: 10px;
    }
}


@media screen and (min-width:768px) {
    .box_img {
        width: 62px;
        height: 62px;
        margin: 0;
    }
}

@media screen and (min-width:1024px) {
    .box_img {
        width: 80px;
        height: 80px;
    }
}

@media screen and (min-width:1280px) {
    .box_img {
        width: 100px;
        height: 100px;
    }
}

@media screen and (min-width:1920px) {
    .box_img {
        width: 140px;
        height: 140px;
    }
}

@media screen and (min-width:2560px) {
    .box_img {
        width: 145px;
        height: 145px;
    }
}

.box-text {
    color: #FFF;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 6px;
    font-style: normal;
    font-weight: 300;
    line-height: 8px;
    margin: 0;
    text-decoration: none;
}

@media screen and (min-width:468px) and (max-width:768px) {
    .box-text {
        font-size: 9px;
        max-width: 224px;
        min-height: 31px;
        line-height: 11px;
    }
}

@media screen and (min-width:768px) {
    .box-text {
        font-size: 11px;
        line-height: 15px;
        max-width: 224px;
        min-height: 31px;
    }
}

@media screen and (min-width:1024px) {
    .box-text {
        font-size: 17px;
        line-height: 15px;
        max-width: 288px;
        min-height: 31px;
        font-weight: 400;
        line-height: normal;
    }
}

@media screen and (min-width:1280px) {
    .box-text {
        font-size: 20px;
        line-height: 15px;
        max-width: 405px;
        min-height: 31px;
        font-weight: 400;
        line-height: normal;

    }
}

@media screen and (min-width:1920px) {
    .box-text {
        font-size: 30px;
        font-style: normal;
        line-height: normal;
        max-width: 502px;
        min-height: 31px;
    }
}

@media screen and (min-width:2560px) {
    .box-text {
        font-size: 30px;
        font-style: normal;
        line-height: normal;
        max-width: 563px;
        min-height: 31px;
    }
}

.cooperation_box {
    border-bottom: 1px solid #0F1113;
}

.cooperation_box:hover {
    border: none;
}

@media screen and (min-width:468px) and (max-width:768px) {
    .cooperation_box {
        border-right: 1px solid #0F1113;
    }
}

@media screen and (min-width:768px) {
    .cooperation_box {
        border-right: 2px solid #0F1113;
        border-bottom: 2px solid #0F1113;
    }
}


.about_box {
    border-bottom: 1px solid #0F1113;
}

.about_box:hover {
    border: none;
}

@media screen and (min-width:468px) and (max-width:768px) {
    .about_box {
        border-right: 1px solid #0F1113;
    }
}

@media screen and (min-width:768px) {
    .about_box {
        border-right: 2px solid #0F1113;
    }
}


.delivery_box {
    border-bottom: 1px solid #0F1113;
}

.delivery_box:hover {
    border: none;
}

@media screen and (min-width:768px) {
    .delivery_box {
        border-bottom: 2px solid #0F1113;
    }
}


.contacts_box {
    border-bottom: none;
}

.contacts_box:hover {
    border: none;
}

.link-more {
    color: #141422;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 6px;
    font-style: normal;
    font-weight: 400;
    line-height: 8px;
    text-decoration: none;
}

@media screen and (min-width:468px) and (max-width:768px) {
    .link-more {
        font-size: 9px;
    }
}

@media screen and (min-width:768px) {
    .link-more {
        font-size: 11px;
    }
}

@media screen and (min-width:1024px) {
    .link-more {
        font-size: 17px;
    }
}

@media screen and (min-width:1280px) {
    .link-more {
        font-size: 20px;
    }
}

@media screen and (min-width:1920px) {
    .link-more {
        font-size: 30px;
    }
}

.link {
    text-decoration: none;
    position: relative;
}

/* @media screen and (min-width:1024px) and (max-width:1280px) {
    .link {

    }
}

@media screen and (min-width:1280px) {
    .link {

    }
}

@media screen and (min-width:1920px) {
    .link {

    }
}

@media screen and (min-width:2560px) {
    .link {
        max-width: 910px;
        min-height: 82px;    }
} */

.questions {
    background-image: url(../images/Frame\ 5.png);
    width: 100%;
    min-height: 155px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    object-fit: cover;
    display: block;
}

@media screen and (min-width:468px) and (max-width:719px) {
    .questions {
        min-height: 246px;
    }
}

@media screen and (min-width:720px) and (max-width:1024px) {
    .questions {
        min-height: 300px;
    }
}

@media screen and (min-width:1024px) {
    .questions {
        display: none;
    }
}


@media screen and (min-width:320px) {
    .questions-desktop {
        display: none;
    }
}

@media screen and (min-width:1024px) and (max-width:1280px) {
    .questions-desktop {
        background-image: url(../images/Frame\ 5.png);
        width: 100%;
        min-height: 476px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;
        object-fit: cover;
        display: block;
    }
}

@media screen and (min-width:1280px) {
    .questions-desktop {
        background-image: url(../images/Frame\ 5.png);
        width: 100%;
        min-height: 504px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;
        object-fit: cover;
        display: block;
    }
}

@media screen and (min-width:1701px) and (max-width:1920px) {
    .questions-desktop {
        background-image: url(../images/Frame\ 5.png);
        width: 100%;
        min-height: 700px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;
        object-fit: cover;
        display: block;
    }
}

@media screen and (min-width:1920px) {
    .questions-desktop {
        background-image: url(../images/Frame\ 5.png);
        width: 100%;
        min-height: 700px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;
        object-fit: cover;
        display: block;
    }
}

@media screen and (min-width:2560px) {
    .questions-desktop {
        min-height: 619px;
        background-image: url(../images/Frame\ 5.png);
        width: 100%;
        min-height: 1100px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;
        object-fit: cover;
        display: block;
    }
}



.questions_wrapper {
    max-width: 222.66px;
    min-height: 70.94px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 43px;
    margin-bottom: 41px;
}

@media screen and (min-width:468px) and (max-width:768px) {
    .questions_wrapper {
        max-width: 442.66px;
        min-height: 122.94px;
        margin-top: 69px;
    }
}

@media screen and (min-width:768px) {
    .questions_wrapper {
        margin-top: 99px;

    }
}

@media screen and (min-width:1024px) {
    .questions_wrapper {
        flex-direction: row;
        max-width: 760.66px;
        min-height: 95.94px;
        margin-top: 176px;
        gap: 32px;
    }
}

@media screen and (min-width:1280px) {
    .questions_wrapper {
        flex-direction: row;
        max-width: 840.66px;
        min-height: 137.94px;
        margin-top: 176px;
        gap: 32px;
    }
}

@media screen and (min-width:1701px) and (max-width:1920px) {
    .questions_wrapper {
        flex-direction: row;
        max-width: 1204px;
        min-height: 250px;
        margin-top: 260px;
        gap: 72px;
    }
}

@media screen and (min-width:1920px) {
    .questions_wrapper {
        flex-direction: row;
        max-width: 1200px;
        min-height: 233px;
        margin-top: 200px;
        gap: 66px;
    }
}

@media screen and (min-width:2560px) {
    .questions_wrapper {
        max-width: 1657px;
        min-height: 313px;
        margin-top: 401px;
        gap: 99px;
    }
}


.questions__inputs {
    display: flex;
}

.input {
    width: 68.66px;
    height: 22.106px;
    background: rgba(255, 255, 255, .2);
    border: none;
    border-radius: 0;
    padding: 0;
    font-size: 10px;
    color: #BEBEBE;
    text-align: center;

}

@media screen and (min-width:468px) and (max-width:768px) {
    .input {
        width: 87.66px;
        height: 28.106px;
        font-size: 13px;
    }
}

@media screen and (min-width:768px) {
    .input {
        width: 123.66px;
        height: 39.106px;
        font-size: 17px;
    }
}

@media screen and (min-width:1024px) {
    .input {
        width: 150.66px;
        height: 46.106px;
    }
}

@media screen and (min-width:1701px) and (max-width:1920px) {
    .input {
        width: 240px;
        height: 72px;
        font-size: 25px;
    }
}

@media screen and (min-width:1920px) {
    .input {
        width: 240px;
        height: 72px;
        font-size: 25px;
    }
}

@media screen and (min-width:2560px) {
    .input {
        width: 337px;
        height: 107px;
        font-size: 40px;
    }
}

.input::placeholder {
    color: #BEBEBE;
    font-family: 'Raleway', sans-serif;
    font-size: 6px;
    font-style: normal;
    font-weight: 400;
    line-height: 6px;
    text-align: center;

}

@media screen and (min-width:468px) and (max-width:768px) {
    .input::placeholder {
        font-size: 9px;
    }
}

@media screen and (min-width:768px) {
    .input::placeholder {
        font-size: 12px;
    }
}

@media screen and (min-width:1701px) and (max-width:1920px) {
    .input::placeholder {
        font-size: 17px;
    }
}

@media screen and (min-width:1920px) {
    .input::placeholder {
        font-size: 20px;
    }
}

@media screen and (min-width:2560px) {
    .input::placeholder {
        font-size: 30px;
    }
}

.input:focus {
    /* border-color: rgba(50, 57, 65, 0.69);; */
    color: #656565;
    background: rgba(255, 255, 255, .5);
    text-align: center;

}

.questions__title {
    color: #F0F0F0;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    max-width: 88px;
    min-height: 14px;
    margin-bottom: 0;
}

@media screen and (min-width:468px) and (max-width:768px) {
    .questions__title {
        max-width: 132px;
        min-height: 14px;
        font-size: 19px;
        margin-top: 0;
    }
}

@media screen and (min-width:768px) {
    .questions__title {
        max-width: 200px;
        font-size: 26px;
    }
}

@media screen and (min-width:1024px) {
    .questions__title {
        max-width: 201px;
        font-size: 30px;
        margin-top: 0;
    }

}

@media screen and (min-width:1701px) and (max-width:1920px) {
    .questions__title {
        max-width: 306px;
        font-size: 42px;
        margin-top: 0;
    }
}

@media screen and (min-width:1920px) {
    .questions__title {
        max-width: 306px;
        font-size: 46px;
        margin-top: 0;
    }
}

@media screen and (min-width:2560px) {
    .questions__title {
        max-width: 466px;
        font-size: 70px;
    }
}

.questions__inputs {
    display: flex;
    gap: 7px;
    align-items: center;
    margin-top: 16px;
}

@media screen and (min-width:468px) and (max-width:768px) {
    .questions__inputs {
        gap: 10px;
        margin-top: 29px;
    }
}

@media screen and (min-width:768px) {
    .questions__inputs {
        gap: 18px;
        margin-top: 42px;
    }
}

@media screen and (min-width:1024px) {
    .questions__inputs {
        gap: 18px;
        margin-top: 0;
    }
}

.send {
    background-color: rgba(255, 255, 255, .33);
    width: 64.66px;
    height: 22.106px;
    padding: 0;
    border: none;
    color: #BEBEBE;
    font-family: 'Raleway', sans-serif;
    font-size: 6px;
    font-style: normal;
    font-weight: 400;
    line-height: 6px;
}

.send:hover {
    cursor: pointer;
}

@media screen and (min-width:468px) and (max-width:768px) {
    .send {
        width: 87.66px;
        height: 28.106px;
        font-size: 9px;

    }
}

@media screen and (min-width:768px) {
    .send {
        width: 123.66px;
        height: 39.106px;
        font-size: 12px;
    }
}

@media screen and (min-width:1024px) {
    .send {
        width: 150.66px;
        height: 46.106px;
    }
}

@media screen and (min-width:1701px) and (max-width:1920px) {
    .send {
        width: 240px;
        height: 72px;
        font-size: 17px;
    }
}

@media screen and (min-width:1920px) {
    .send {
        width: 240px;
        height: 72px;
        font-size: 20px;
    }
}

@media screen and (min-width:2560px) {
    .send {
        width: 337px;
        height: 107px;
        font-size: 31px;
    }
}

.questions__subtitle {
    color: #E7E7E7;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 5px;
    font-style: normal;
    font-weight: 400;
    line-height: 7px;
    max-width: 90px;
    min-height: 12.941px;
    margin-top: 12px;
    margin-bottom: 0;
}

@media screen and (min-width:468px) and (max-width:768px) {
    .questions__subtitle {
        margin-top: 24px;
        font-size: 8px;
        max-width: 146px;
        line-height: 10px;
    }
}

@media screen and (min-width:768px) {
    .questions__subtitle {
        margin-top: 40px;
        font-size: 12px;
        max-width: 177px;
        line-height: 14px;
    }
}

@media screen and (min-width:1024px) {
    .questions__subtitle {
        margin-top: 21px;
        font-size: 12px;
        max-width: 327px;
        line-height: 14px;
    }
}

@media screen and (min-width:1701px) and (max-width:1920px) {
    .questions__subtitle {
        margin-top: 0;
        font-size: 22px;
        max-width: 100%;
        line-height: 23px;
    }
}

@media screen and (min-width:1920px) {
    .questions__subtitle {
        margin-top: 0;
        font-size: 17px;
        max-width: 100%;
        line-height: 21px;
    }
}

@media screen and (min-width:2560px) {
    .questions__subtitle {
        margin-top: 0;
        font-size: 28px;
        line-height: 27px;
    }
}


.questions_text {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    min-height: 93px;
    align-items: center;
}

@media screen and (min-width:1701px) and (max-width:1920px) {
    .questions_text {
        max-width: 342px;
        min-height: 93px;
        gap: 49px;
    }
}

@media screen and (min-width:1920px) {
    .questions_text {
        max-width: 342px;
        min-height: 93px;
        gap: 49px;
    }
}

@media screen and (min-width:2560px) {
    .questions_text {
        max-width: 489px;
        min-height: 102px;
        gap: 74px;
    }
}

.footer {
    background: #2D343C;
    display: flex;
    flex-direction: column;
}

.footer__wrapper {
    max-width: 241px;
    min-height: 64px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 27px;
}

@media screen and (min-width:768px) {
    .footer__wrapper {
        padding-top: 30px;
        padding-bottom: 30px;
        max-width: 416px;
        min-height: 130px;
        gap: 45px;
    }
}

@media screen and (min-width:1024px) {
    .footer__wrapper {
        padding-top: 48px;
        padding-bottom: 35px;
        max-width: 869px;
        min-height: 82px;
        /* gap: 45px; */
    }
}

@media screen and (min-width:1280px) {
    .footer__wrapper {
        padding-top: 58px;
        padding-bottom: 58px;
        max-width: 1164px;
        min-height: 102px;
    }
}

@media screen and (min-width:1920px) {
    .footer__wrapper {
        padding-top: 65px;
        padding-bottom: 65px;
        max-width: 1164px;
        min-height: 137px;
    }
}

@media screen and (min-width:2560px) {
    .footer__wrapper {
        padding-top: 140px;
        padding-bottom: 76px;
        max-width: 1473px;
        min-height: 137px;
    }
}

.footer_container {
    display: flex;
    max-width: 107px;
    min-height: 23.564px;
    gap: 9px;
    align-items: center;
}

@media screen and (min-width:768px) {
    .footer_container {
        max-width: 169px;
        min-height: 50px;
        gap: 12px;
    }
}

@media screen and (min-width:1280px) {
    .footer_container {
        max-width: 281px;
        min-height: 100px;
        gap: 24px;
    }
}

@media screen and (min-width:1920px) {
    .footer_container {
        max-width: 289px;
        min-height: 100px;
        gap: 24px;
    }
}

@media screen and (min-width:2560px) {
    .footer_container {
        max-width: 366px;
        gap: 33px;
    }
}

.footer_icon {
    background-color: #2C2C2C;
    width: 18.62px;
    height: 16.7px;
    padding: 5px;
}

@media screen and (min-width:768px) {
    .footer_icon {
        width: 22px;
        height: 22px;
        padding: 7px;
    }
}

@media screen and (min-width:1280px) {
    .footer_icon {
        width: 42px;
        height: 42px;
        padding: 15px;
    }
}

@media screen and (min-width:2560px) {
    .footer_icon {
        width: 70px;
        height: 70px;
        padding: 20px;
    }
}

.footer_subtitle {
    margin: 0;
    color: var(--white-color-400, #8C8C8C);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 6px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 7.2px */
    text-transform: uppercase;
}

@media screen and (min-width:768px) {
    .footer_subtitle {
        font-size: 10px;
    }
}

@media screen and (min-width:1280px) {
    .footer_subtitle {
        font-size: 15px;
    }
}

@media screen and (min-width:1920px) {
    .footer_subtitle {
        font-size: 16px;
    }
}

@media screen and (min-width:2560px) {
    .footer_subtitle {
        font-size: 20px;
    }
}

.footer_title {
    color: #FFF;
    font-family: ' Nunito Sans', sans-serif;
    font-size: 7px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin: 0;
    /* 10.5px */
}

@media screen and (min-width:768px) {
    .footer_title {
        font-size: 12px;
    }
}

@media screen and (min-width:1280px) {
    .footer_title {
        font-size: 18px;
    }
}

@media screen and (min-width:2560px) {
    .footer_title {
        font-size: 21px;
    }
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}

@media screen and (min-width:768px) {
    .text-container {
        gap: 5px;
    }
}

@media screen and (min-width:1920px) {
    .text-container {
        gap: 18px;
    }
}

.footer_column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (min-width:768px) {
    .footer_column {
        gap: 20px;
    }
}

@media screen and (min-width:1024px) {
    .footer_column {
        flex-direction: row;
    }
}

@media screen and (min-width:1280px) {
    .footer_column {
        gap: 30px;
    }
}

@media screen and (min-width:1920px) {
    .footer_column {
        gap: 37px;
    }
}

@media screen and (min-width:2560px) {
    .footer_column {
        gap: 64px;
    }
}

.footer_line {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    min-height: 1px;
    background: #241F1F;
    border: none;
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (min-width:768px) {
    .footer_line {
        min-height: 2px;
    }
}


@media screen and (min-width:1920px) {
    .footer_line {
        min-height: 3.5px;
    }
}

.footer_logo {
    max-width: 63px;
    min-height: 17px;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width:768px) {
    .footer_logo {
        max-width: 150px;
        min-height: 30px;
        margin-top: 27px;
    }
}

@media screen and (min-width:1024px) {
    .footer_logo {
        margin-top: 35px;
    }
}

@media screen and (min-width:1920px) {
    .footer_logo {
        margin-top: 60px;
        max-width: 233px;
        min-height: 55px;
    }
}

@media screen and (min-width:2560px) {
    .footer_logo {
        margin-top: 92px;
        max-width: 300px;
        min-height: 61px;
    }
}

.footer__copyright {
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.4px;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width:768px) {
    .footer__copyright {
        font-size: 9px;
        letter-spacing: 0.75px;
        margin-top: 10px;
        margin-top: 15px;
    }
}

@media screen and (min-width:1024px) {
    .footer__copyright {
        font-size: 12px;
    }
}

@media screen and (min-width:1920px) {
    .footer__copyright {
        font-size: 19px;
    }
}

@media screen and (min-width:2560px) {
    .footer__copyright {
        font-size: 21px;
        margin-bottom: 42px;
        margin-top: 24px;
    }
}


.span_year {
    color: #FFF;
    font-family: 'Lora', serif;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.4px;
}

@media screen and (min-width:768px) {
    .span_year {
        font-size: 9px;
        letter-spacing: 0.75px;
    }
}

@media screen and (min-width:1024px) {
    .span_year {
        font-size: 12px;
    }
}

@media screen and (min-width:1920px) {
    .span_year {
        font-size: 19px;
    }
}

@media screen and (min-width:2560px) {
    .span_year {
        font-size: 22px;
    }
}

.about_title {
    color: #F0F0F0;
    font-family: 'Potta One', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 60px;
    margin-left: 8px;
    max-width: 74px;
}

.about-company_text {
    background-image: url(../images/Frame\ 11.jpg);
    min-height: 171px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-top: 20px;
}

.paragraph {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Luxurious Roman', sans-serif;
    font-size: 7px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding-left: 7px;
}